# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# See https://trello.com/app-key for key & token
TRELLO_KEY=trello-key
TRELLO_TOKEN=trello-token

# The short board id to use for this app
BOARD_ID=abcdefgh