{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Items</h2>
            <h3>Incomplete</h3>
            {% with items=incomplete %}
                {% include "item_list.html" %}
            {% endwith %}
            <h3>Complete</h3>
            {% with items=complete %}
                {% include "item_list.html" %}
            {% endwith %}
            <h2>Add a new one</h2>
            <form id="addform" action="{{ url_for("add") }}" method="post">
                <div class="form-group">
                    <label for="itemtitle">Title</label>
                    <input type="text" class="form-control" id="itemtitle" name="title">
                </div>
                <input type="submit" class="btn btn-primary" value="Add" id="btn-add">
            </form>
        </div>
    </div>
{% endblock %}