<ul class="list-group mb-4">
    {% for item in items %}
        <li><form id="{{ "item " ~ item.id }}" action="{{ url_for("update") }}" method="post">
            {{ item.title }}
            <input type="hidden" name="id" value="{{ item.id }}">
            {% if item.status == "incomplete" %}
                <input type="hidden" name="status" value="complete">
                <input type="submit" name="changestatus" class="btn btn-primary" value="Mark as Completed">
            {% endif %}
            {% if item.status == "complete" %}
                <input type="hidden" name="status" value="incomplete">
                <input type="submit" name="changestatus" class="btn btn-secondary" value="Mark as Incomplete">
            {% endif %}
            <input type="submit" name="delete" class="btn btn-danger" value="Delete">
        </form></li>
    {% endfor %}
    {% if items|length == 0 %}
        None...
    {% endif %}
</ul>