{% macro item(item) %}
    <form class="container item" id="{{ "item" ~ item.id }}" action="{{ url_for("update") }}" method="post">
        <div class="row align-items-center">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="hidden" name="status" value="{{ item.status }}">
            <input type="hidden" name="submittype" class="submittype" value="">
            <h4 class="col-sm mb-0" name="{{ item.title }}">{{ item.title }}</h4>
            <input
                    type="text"
                    class="form-control disabled col-sm description"
                    name="description"
                    value="{{ item.description }}"
                    readonly>
            <input
                    type="text"
                    class="form-control disabled col-sm date"
                    name="due"
                    value="{{
                        item.due.strftime("%d/%m/%Y") if item.due is not none else ""
                    }}"
                    readonly>
            <div class="btn-group col-sm" role="group">
                {% if item.status == "incomplete" %}
                    <input
                            type="submit"
                            class="btn btn-primary changestatus should-disable"
                            value="Mark as Completed"
                            name="changestatus">
                {% endif %}
                {% if item.status == "complete" %}
                    <input
                            type="submit"
                            class="btn btn-secondary changestatus should-disable"
                            value="Mark as Incomplete"
                            name="changestatus">
                {% endif %}
                <button type="button" class="btn btn-warning edit should-disable" onclick="edit_box('{{ item.id }}')">Edit</button>
                <input type="submit" value="Submit" class="btn btn-warning submit d-none should-disable">
                <input type="submit" class="btn btn-danger delete should-disable" value="Delete" name="delete">
            </div>
        </div>
    </form>
{% endmacro %}